<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
    <h3>Welcome to the Repeat Counter</h3>
    <form action="/count" method="post">
      <label for="sentence">Enter a sentence:</label>
      <input type="text" name="sentence">
      <label for="word">Enter a word to see how often it appears in your sentence:</label>
      <input type="text" name="word">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
